/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#miModal{
    background-color: rgba(0,0,0, 0.5) !important;
}
#miModal2{
    background-color: rgba(0,0,0, 0.5) !important;
}
