/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#miModal{
    background-color: rgba(0,0,0, 0.5) !important;
}
#miModal2{
    background-color: rgba(0,0,0, 0.5) !important;
}
.input-tarea{
    width: 100%;
}
.user{
    color: red;
}
.editar{
    color: skyblue;
    margin-left: 20px;
}
.tableTareas{
    text-align: center;
}
.img{
    color: red;
}
.task{
    margin-left: 20px;
    color: green;
}
.mensaje{
    color: grey;
}
.body{
    margin-top: 60px;
    
}
.table{
    margin-top: 2%;
}
 .title{
    color: #dc688d;
 }
 .fondo{
    background-color: #ffcac8;
    margin-top: 5%;
 }
 .btnAgregar{
    background-color: #dc688d !important;
    color: white;
 }
 .btnInferior{
    margin-bottom: 10px;
    margin-top: 10px;
 }
